/* Register Form */
.register {
	display: grid;
	place-items: center;
}
.register-form {
	flex-direction: column;
	width: 400px;
	height: auto;
	margin: 0 auto;
	padding: 1rem;
	background: #ffffff;
}

.form-item span {
	display: flex;
}
.form-item span input {
	margin-left: 1rem;
	flex: 5;
}
.form-item span select {
	flex: 1;
}

select.form-input {
	appearance: none;
	background-image: url("../../../Assets/Images/dropdown.svg");
	background-repeat: no-repeat;
	background-position-x: 85%;
	background-position-y: 0.8rem;

}
select.form-input:focus {
	border: 0;
	outline: 0;
}
